@import url("./reset.css");

body,
*,
*::before,
*::after {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  outline: none;
  cursor: pointer;
  border: none;
}

details,
summary {
  list-style: none;
}
.info__item,
.item__title{
  list-style: none;
}

details[open] {
  animation: slide 0.5s ease-in-out;
}

.header {
  margin-bottom: 60px;
  padding-top: 20px;
}

.header__logo {
  margin-bottom: 50px;
  max-width: 200px;
}

.logo {
  width: 100%;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: auto;
}

.header__content {
  display: flex;
  /* grid-template-columns: minmax(600px, 2fr) minmax(512px, 1fr); */
}

.header__info {
  width: 100%;
  padding: 10px;
}

.header__title {
  margin-top: 30px;
  color: #1c3388;
  font-weight: 700;
  font-size: 45px;
  line-height: 63px;
  margin-bottom: 30px;
}

.header__title-subtitle {
  color: rgb(0, 192, 243);
  font-weight: 700;
  font-family: "Montserrat", Arial, sans-serif;
}

.header__desc {
  color: #1c3388;
  font-weight: 500;
  line-height: 31px;
  font-size: 20px;
}

.header__atom {
  display: flex;
  margin-bottom: 50px;
}

.btn {
  color: #fff;
  background-color: #1c3388;
  font-size: 18px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  border-radius: 100px;
  width: 100%;
  max-width: 300px;
  height: 60px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.header__clock {
  margin-right: 10px;
}

.btn:hover {
  background-color: rgb(0, 192, 243);
}

.header__img {
  position: relative;
  justify-self: end;
  max-width: 423px;
}

.img-book {
  position: absolute;
  text-align: center;
  bottom: 70px;
  left: 0;
  background-color: #101b47d6;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.img-book-desc {
  font-size: 16px;
  color: #fff;
}

.img-book-name {
  font-size: 18px;
  font-weight: 600;
}

.img {
  width: 100%;
  border-radius: 50%;
}

/* --------------------------------------------------- */

.person {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;
  max-width: 900px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 100px;
}

.person__box {
  position: relative;
}

.person__img {
  max-width: 253px;
  border-radius: 50%;
  width: 100%;
}

.person__logo {
  position: absolute;
  max-width: 100px;
  top: 0;
  left: -30px;
}

.person__content {
  align-self: center;
  max-width: 498px;
}

.person__desc {
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
}

/* ---------------------------------------------------------- */

.info {
  margin-bottom: 100px;
}

.title {
  text-align: center;
  color: #1c3388;
  font-size: 40px;
  font-weight: 600;
}

.info__box {
  max-width: 542px;
}

.info__img {
  width: 100%;
}

.info__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info__content {
  padding-top: 100px;
}

.info__title {
  margin-bottom: 80px;
}

.item {
  padding: 5px;
}

.item__list {
  color: #1c3388;
}

.item__title {
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid;
  padding: 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", Arial, sans-serif;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background-color: #1c3388;
  border-radius: 10px;
}

.item__title:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.item__content {
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

/* ------------------------------------------------- */

.web {
  margin-bottom: 100px;
}

.web__title {
  margin-bottom: 80px;
}

.web__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.web__item {
  text-align: center;
  max-width: 311px;
}

.web__img {
  margin-bottom: 25px;
  width: 104px;
}

.web__desc {
  color: #1c3388;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
}

.web__img1,
.web__img2,
.web__img3 {
  margin-bottom: 29px !important;
  margin: auto;
  max-width: 104px;
  object-fit: cover;
}

.web__item .web__img1:nth-of-type(2) {
  display: none;
}

.web__item:hover .web__img:nth-of-type(1) {
  display: none;
}

.web__item:hover .web__img1:nth-of-type(2) {
  display: block;
}

.web__item .web__img2:nth-of-type(2) {
  display: none;
}

.web__item:hover .web__img:nth-of-type(1) {
  display: none;
}

.web__item:hover .web__img2:nth-of-type(2) {
  display: block;
}

.web__item .web__img3:nth-of-type(2) {
  display: none;
}

.web__item:hover .web__img:nth-of-type(1) {
  display: none;
}

.web__item:hover .web__img3:nth-of-type(2) {
  display: block;
}

/* ---------------------------------------- */

.result {
  margin-bottom: 100px;
}

.result__title {
  line-height: 62px;
  margin-bottom: 80px;
}

.result__box {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, 384px);
}

.result__content:hover {
  -webkit-box-shadow: 9px -10px 23px 11px rgba(34, 60, 80, 0.13);
  -moz-box-shadow: 9px -10px 23px 11px rgba(34, 60, 80, 0.13);
  box-shadow: 9px -10px 23px 11px rgba(34, 60, 80, 0.13);
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.result__content {
  border-bottom: 2px solid #1c3388;
  padding: 20px;
  width: 100%;
}

.result__img {
  max-width: 104px;
}

.result__desc {
  color: #1c3388;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
}

/* ------------------------------------ */

.speaker {
  margin-bottom: 600px;
}

.speaker__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.speaker__content {
  max-width: 497px;
  position: relative;

  border-radius: 70px;
}

.speaker__title {
  background-color: transparent;
}

.speaker__img {
  max-width: 200px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 151px;
}

.speaker__name {
  line-height: 34px;
  color: #303b64;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.speaker__list {
  line-height: 25px;
  color: #303b64;
  font-size: 18px;
  font-weight: 400;
}

.speaker__point {
  padding: 5px;
}

.speaker__fon-left {
  max-width: 424px;
  left: -35px;
  position: absolute;
}

.speaker__fon-right {
  max-width: 424px;
  left: -35px;
  position: absolute;
}

.speaker__card {
  position: absolute;
  top: 118px;
  text-align: center;
  border-radius: 40px;
  max-width: 497px;
  background-color: #f8f4f4e8;
  height: 443px;
  padding-top: 199px;
}

/* ------------------------------------ */

.about {
  margin-bottom: 90px;
}

.about__title {
  margin-bottom: 80px;
}

.about-box {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.about__content {
  align-self: center;
}

.about__desc,
.about__desc2,
.about__desc3,
.about__desc4 {
  color: #1c3388;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  max-width: 600px;
  cursor: pointer;
}

.about-num {
  font-size: 40px;
  font-weight: 600;
  color: #1c3388;
  padding: 10px;
}

.about__img {
  min-width: 374px;
  height: 374px;
  width: 374px;
  position: relative;
}

.about__logo {
  width: 100%;
  border-radius: 50%;
}

.about__item {
  display: flex;
}

.blue {
  color: #00c0f3;
}

/* ---------1------------ */
.about__saly {
  width: 0;
  position: absolute;
}

.about__saly--active {
  top: 0;
  width: 150px;
  left: 0;
}

/* ----------2-------------- */

.about__saly2 {
  width: 0;
  position: absolute;
  top: 0;
}

.about__saly2--right {
  width: 150px;
  right: 0;
  top: 0;
}

/* -----------3------------ */

.about__saly3 {
  width: 0;
  position: absolute;
}

.about__saly3--leftbottom {
  width: 150px;
  left: 0;
  bottom: 0;
}

/* ----------4--------------- */

.about__saly4 {
  width: 0;
  position: absolute;
}

.about__saly4--rightbottom {
  width: 150px;
  right: 0;
  bottom: 0;
}

/* ------------------------------------------------- */

.company {
  margin-bottom: 100px;
}

.company__title {
  margin-bottom: 80px;
}

.company__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 20px;
}

.company__item {
  width: 160px;
}

.company__img {
  width: 100%;
}

/* ---------------------------------------- */

.reviews {
  display: flex;
  margin-bottom: 70px;
}

.reviews__slider {
  position: relative;
  max-width: 660px;
}

.slider__prev-btn {
  font-size: 18px;
  color: #ffffff;
  background-color: #3c53a5;
  width: 100px;
  border-radius: 20px;
  height: 50px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  margin-right: 15px;
  transition: transform 0.2s;
}

.slider__next-btn {
  font-size: 18px;
  color: #ffffff;
  background-color: #3c53a5;
  width: 100px;
  border-radius: 20px;
  height: 50px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: transform 0.2s;
}

.reviews__name {
  margin-top: 20px;
  font-weight: 600;
  color: #1c3388;
}

.reviews__item {
  text-align: center;
  color: #1c3388;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 20px;
}

.reviews__btns {
  display: flex;
  justify-content: center;
}

.reviews__title {
  margin-bottom: 80px;
}

.slider__next-btn:hover {
  transform: scale(1.2);
  background-color: #00c0f3;
}

.slider__prev-btn:hover {
  transform: scale(1.2);
  background-color: #00c0f3;
}

/* ---------------------------------------------- */
.application {
  margin-bottom: 200px;
}

.application__title {
  margin-bottom: 80px;
}

.application__subtitle {
  font-weight: 700;
  font-size: 28px;
  color: #1c3388;
  margin-bottom: 20px;
}

.application__box {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 20px;
}

.application__content {
  padding: 20px;
  align-self: center;
}

.application__desc {
  max-width: 455px;
  color: #1c3388;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

.application__right {
  width: 100%;
  position: relative;
  top: -48px;
}

.application__right::before {
  content: "";
  position: absolute;
  background: url("../img/application-img-last.png");
  background-repeat: no-repeat;
  animation: animRotate 2s linear infinite alternate,
    animMovie 20s linear infinite;
  width: 397px;
  height: 397px;
}

/* -------------------------------------------------- */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(189 207 205 / 67%);
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.modal--show {
  display: grid;
}



.modal__content {
  width: 750px;
  min-height: 200px;
  background-color: #f6f6f6;
  display: grid;
  padding: 30px;
  grid-gap: 20px;
}

.modal__title {
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.modal__input {
  border: 1px solid #1c3388;
  height: 60px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}

.modal__btn {
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: #dc403b;
  color: white;
  transition: transform 0.2s;
}

.modal__close {
  justify-self: end;
  background-color: transparent;
  border: 2px solid #dc403b;
  color: white;
  font-size: 22px;
  border-radius: 50%;
  width: 30px;
  color: #dc403b;
  transition: transform 0.2s;
}

.modal__btn:hover {
  transform: scale(1.2);
}

.modal__close:hover {
  transform: scale(1.2);
}

/* -------------------------------------------------- */

.footer {
  background-color: #1b1b1b;
}

.footer__content {
  display: grid;
}

.footer__title {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer__link {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer__link-bottom {
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
}

/* -------------------------------------- */

.animate__grow {
  height: 72px;
  line-height: 72px;
  width: 50px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 22px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  animation: animate_grow 2s infinite;
  position: fixed;
  right: 65px;
  bottom: 50px;
  border-radius: 50%;
  height: 50px;
  cursor: pointer;
}

.animate__grow:hover {
  animation: none;
}

.animate__close {}

.animate__close--active {
  width: 50px;
}

.animate__message {
  position: absolute;
  position: absolute;
  width: 50px;
  top: 4px;
  left: 3px;
  color: #fff;
  border-radius: 50%;
}


.mini {
  display: none;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 108px;
  right: 29px;
}

.mini__close {
  text-align: end;
  background-color: #fff;
  top: 0;
  right: 7px;
  position: absolute;
}

.mini__img {
  width: 80px;
}

.mini--show {
  -webkit-box-shadow: -5px 13px 58px 25px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px 13px 58px 25px rgba(34, 60, 80, 0.2);
  box-shadow: -5px 13px 58px 25px rgba(34, 60, 80, 0.199);
  display: flex;
  width: 120px;
  border-radius: 10px;
  height: 135px;
  background-color: white;
}

/* .mini__close--active {
  background-image: url(".");
} */

@keyframes animate_grow {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animRotate {

  0%,
  100% {
    right: 15px;
  }

  50% {
    right: -15px;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -5px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 1000px) {
  .header__title {
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 26px;
  }

  .person__desc {
    font-size: 20px;
    line-height: 23px;
  }

  .info__details {
    grid-template-columns: 1fr;
  }

  .info__box {
    justify-self: center;
  }

  .info__title {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .info__content {
    padding-top: 80px;
  }

  .web__box {
    justify-content: center;
  }

  .result__title {
    font-size: 38px;
  }

  .speaker__box {
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
  }

  .speaker__content {
    margin-bottom: 500px;
  }

  .speaker__title {
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 26px;
  }

  .about__title {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .company__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .company__title {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .reviews__title {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .application__title {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .speaker {
    margin-bottom: 50px;
  }
  
}

@media (max-width: 800px) {
  .header__title {
    font-size: 36px;
    line-height: 58px;
    margin-bottom: 22px;
  }

  .header__atom {
    margin-bottom: 40px;
    justify-content: center;
  }

  .header__content {
    text-align: center;
    flex-direction: column-reverse;
  }

  .person {
    grid-template-columns: 1fr;
  }

  .person__box {
    justify-self: center;
  }

  .person__content {
    justify-self: center;
  }

  .person__desc {
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
  }

  /* .img-book {
    display: none;
  } */

  .img {
    max-width: 423px;
  }

  .header__img {
    margin: auto;
  }

  .info__content {
    padding-top: 60px;
  }

  .web__title {
    font-size: 36px;
  }

  .result__box {
    display: block;
  }

  .result__content {
    margin-bottom: 10px;
  }

  .result__title {
    line-height: 60px;
    margin-bottom: 60px;
    font-size: 36px;
  }

  .speaker__title {
    font-size: 36px;
    line-height: 58px;
  }

  .about-box {
    grid-template-columns: 1fr;
  }

  /* .about__content{
    text-align: justify;
  } */
  .about__content,
  .about__img {
    justify-self: center;
  }

  .about__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .company__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .company__item {
    justify-self: center;
  }

  .company__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .reviews__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .application__box {
    display: block;
  }

  .application__content {
    margin-bottom: 50px;
    text-align: center;
  }

  .application__right::before {
    right: 50px;
  }

  .application__desc {
    max-width: 615px;
  }

  .application__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .modal__content {
    width: 600px;
  }

  .application {
    margin-bottom: 404px;
  }

  .about__saly,
  .about__saly2,
  .about__saly3,
  .about__saly4 {
    display: none;
  }
}

@media (max-width: 700px) {
  .reviews {
    display: block;
  }

  .modal__content {
    width: 510px;
  }
}

@media (max-width: 550px) {
  /* .img-book {
    display: none;
  } */

  .header__logo {
    margin-bottom: 20px;
  }

  .header__title {
    font-size: 34px;
    line-height: 56px;
    margin-bottom: 20px;
  }

  /* .header__img {
    display: none;
  } */

  .info__title {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .item__title {
    font-size: 18px;
  }

  .web__title {
    font-size: 34px;
  }

  .result__title {
    line-height: 58px;
    margin-bottom: 40px;
    font-size: 34px;
  }

  .speaker__title {
    font-size: 34px;
    line-height: 56px;
  }

  .about__title {
    font-size: 34px;
  }

  .about__desc {
    font-size: 18px;
    line-height: 26px;
  }

  .about-num {
    font-size: 38px;
  }

  .company__title {
    font-size: 38px;
  }

  .reviews__title {
    font-size: 38px;
  }

  .application__title {
    font-size: 34px;
  }

  .modal__content {
    width: 420px;
  }

  .application {
    margin-bottom: 400px;
  }

  .speaker {
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .application__right::before {
    right: 24px;
  }

  .speaker__list {
    font-size: 16px;
    margin-left: 47px;
    max-width: 404px;
  }

  .speaker__card {
    background-color: #f8f4f47d;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 16px;
  }

  .header__desc {
    line-height: 27px;
    font-size: 14px;
  }

  .header__btn {
    font-size: 16px;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .info__title {
    font-size: 32px;
    margin-bottom: 23px;
  }

  .info__content {
    padding-top: 34px;
  }

  .web__title {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .result__title {
    line-height: 56px;
    margin-bottom: 40px;
    font-size: 32px;
  }

  .speaker__list {
    margin-left: 60px;
    max-width: 378px;
  }

  .speaker__title {
    font-size: 32px;
    line-height: 54px;
  }

  .speaker__name {
    margin-left: 72px;
  }

  .about__img {
    display: none;
  }

  .about__title {
    font-size: 32px;
  }

  .company__title {
    font-size: 32px;
  }

  .company__content {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .reviews__title {
    font-size: 38px;
  }

  .application__title {
    font-size: 32px;
  }

  .application__subtitle {
    font-size: 26px;
  }

  .modal__content {
    width: 360px;
  }

  .img-book {
    padding: 5px;
  }
}

@media (max-width: 320px) {
  .info__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .web__title {
    font-size: 30px;
  }

  .result__title {
    line-height: 56px;
    margin-bottom: 20px;
    font-size: 32px;
  }

  .speaker__title {
    font-size: 30px;
    line-height: 52px;
  }

  .speaker__list {
    margin-left: 83px;
    max-width: 333px;
  }

  .speaker__name {
    margin-left: 83px;
  }

  .about__title {
    font-size: 30px;
  }

  .company__title {
    font-size: 30px;
  }

  .reviews__title {
    font-size: 38px;
  }

  .application__title {
    font-size: 30 px;
  }

  .modal__content {
    width: 297px;
  }

  .footer__title {
    margin-top: 8px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__link-bottom {
    font-size: 12px;
  }

  .img-book {
    bottom: 43px;
    padding: 5px;
  }
}

/* text-align: center;
  color: #1c3388;
  font-size: 40px;
  font-weight: 600; */